// Offer block styles

.offer {
  position: relative;
  background-color: $white;
  border-radius: 4px;
  overflow: hidden;
  &__column {
    @include bp(xlarge){
      @include layout(12);
      @include gallery(6);
      margin-bottom: gutter(12);
      // centers single offer
      &:nth-child(odd):last-child{
        margin-right: auto;
        margin-left: auto;
        float: none !important;
      }
    }
  }

  & + & { margin-top: 2em; }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: block;
    opacity: 0;
    background-color: transparent;
    color: transparent;
    text-align: center;
    @include transition;
    & .btn {
      margin-top: 50%;
      .touch & { display: none; }
    }
    &:hover {
      opacity: 1;
      background-color: $black-33;
      color: $white;
      text-decoration: none;
      & .btn { transform: scale(1.05,1.05); }
      .touch & { background-color: transparent; }
    }
    .flexbox & {
      display: flex;
      justify-content: center;
      align-items: center;
      & .btn {
        margin-top: 0;
      }
    }
  }
  &__content {
    padding: $margin;
    overflow: hidden;
    @include bp(xlarge){
      margin-left: 50%;
    }
  }
  &__image {
    @include bp(xlarge){
      position: absolute !important;
      height: 100%;
    }
  }
  &__location {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 1.5em;
    text-indent: -1.5em;
    &:before {
      content: "";
      display: inline-block;
      font-size: 10px;
      height: 1.5em;
      width: 1.05em;
      margin-right: .8em;
      margin-bottom: .4em;
      vertical-align: middle;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }

  &__main-title {
    font-size: 2.2em;
    @include bp(large){
      font-size: 2.2em;
    }
  }

  &__title {
    font-family: $title-font-family;
    font-size: 1.367em;
    letter-spacing: .015em;
    line-height: 1;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: 0.5em 0;
  }
  &__details {
  }
  &__list {
    padding-top: 1em;
    margin-top: 0;
    @include bp(large){
      &:nth-child(odd) {
        border-right: 1px solid #bbb;
        padding-right: 1em;
      }
      &:nth-child(even) {
        padding-left: 1em;
      }
    }
    & li {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 5px;
      font-size: 0.9em;
      &:last-child { margin-bottom: 0; }
    }
  }

}


// -- Section to show if no offers --

.offer-promo {
  position: relative;
  padding-top: ($margin*4);
  padding-bottom: ($margin*4);
  background-color: rgba($white, 0.75);
  &__bgs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
  }
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    width: 100%;
    @include background-attributes;
    &:nth-of-type(1) {
      left: 0;
      display: block;
    }
    @include bp(large){
      width: 33.33%;
      &:nth-of-type(2) {
        display: block;
        left: 33.33%;
      }
      &:nth-of-type(3) {
        display: block;
        left: 66.66%;
      }
    }
  }
}